/*GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #dbdbd3 15%,
        #dbdbd3 100%
    );
    cursor: default;
}

.container {
    width: 80%;
    height: 95%;
    line-height: 20px;
    min-width: 900px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px -10px rgb(86, 86, 86);
}

/* UTILITIES */
/* display */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow-auto {
    overflow-y: auto ;
}

/* text styles */
.text-right {
    text-align: right;
}

#app.container .btn:hover,
#app.container .btn:focus {
    cursor: pointer;
    color: #009688;
}

#app.container i:hover,
#app.container i:focus {
    color: #009688;
    cursor: pointer;
}

/* widths */
.w-100 {
    width: 100%;
}

/* components */
.btn {
    border: none;
    background: transparent;
    padding: 10px 0;
}

img.contact {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

/* ASIDE */
aside {
    width: 35%;
    border-right: 1px solid #d6d6d6;
}

.header {
    padding: 10px 15px;
    background-color: #eaeaea;
}

.header .actions i {
    margin: 0 10px;
    color: #b1b1b1;
    font-size: 1.4em;
}

.notifications {
    background-color: #8edafc;
    padding: 10px 15px;
}

.notifications i {
    font-size: 1.5em;
    color: #8edafc;
    padding: 15px 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.notifications .text a {
    color: #547d8f;
    font-size: 0.8em;
}

aside .search {
    padding: 5px;
    background-color: #fafafa;
}

.search .btn {
    font-size: 1.2em;
    padding: 10px 25px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    color: #b1b1b1 ;
}

.search input {
    border: 1px solid #f5f5f5;
    padding: 10px;
    outline: none;
}

.search .btn:hover,
.search:focus,
.search input:hover,
.search input:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.search input::placeholder {
    color: #babcc1;
    font-size: 0.9em;
}

.contacts ul {
    list-style: none;
}

.contacts ul li.contact {
    border-bottom: 1px solid #f5f5f5;
    padding: 8px 20px;
    cursor: pointer;
}

.contacts ul li.contact:hover,
.contacts ul li.contact:focus {
    background-color: #f7f7f7;
}

.contacts ul li.contact.active {
    background-color: #e7e7e7;
}

.contacts ul li.contact:last-child {
    border: none;
}

.contacts ul li.contact img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

/* MAIN */
main .contact-informations img {
    margin-right: 1em;
}

main .text .last-access {
    font-size: 0.8em;
    color: #8e9496;
}

main .message-container {
    background-image: url('../img/mine.jpg');
    padding: 50px 100px;
}

.message-container .message {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 45%;
    position: relative;
}

.message-container .message.received {
    background-color: #fff;
}

.message-container .message.sent {
    background-color: #d5f9ba;
    align-self: end;
}

.message-container .message .date {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 0.65em;
    color: #b6b9bb;
}

.footer.console {
    padding: 5px 40px;
    background-color: #f3eeea;
    justify-content: space-between;
}

.footer.console .btn {
    padding: 0;
}

.footer.console .btn i {
    color: #6b7376;
    padding: 10px;
    font-size: 1.5em;
}

.footer.console input {
    margin: 0 40px; 
    line-height: 35px;
    border: none;
    border-radius: 5px;
    padding: 0 15px;
    outline: none;
}

.footer.console input:hover,
.footer.console input:focus {
    outline: 1px solid black;
}

.footer.console input::placeholder {
    color: #9b9b9b;
}