<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900& display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    <!-- APP -->
    <section id="app" class="container d-flex">
        <!-- ASIDE -->
        <aside class="flex-column overflow-auto">
            <!-- header user -->
            <section class="header d-flex">
                <div class="userID d-flex align-items-center">
                    <img src="./img/avatar_io.jpg" alt="user" class="contact">
                    <span class="user-name">Nome Utente</span>
                </div>
                <div class="actions flex-grow-1 d-flex align-items-center justify-content-end">
                    <button class="btn">
                        <i class="fas fa-circle-notch refresh"></i>
                    </button>
                    <button class="btn">
                        <i class="fas fa-comment-alt message"></i>
                    </button>
                    <button class="btn">
                        <i class="fas fa-ellipsis-v expand-actions"></i>
                    </button>
                </div>
            </section>

            <!-- notifications -->
            <section class="notifications d-flex align-items-center">
                <i class="fas fa-bell-slash"></i>
                <div class="text d-flex flex-column">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </section>

            <!-- search bar -->
            <section class="search d-flex">
                <button class="btn">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text"
                       placeholder="Cerca o inizia una nuova chat" class="flex-grow-1"
                       v-model.trim="searchInput"
                       @keyup="filterContacts"
                >
            </section>

            <!-- contacts list -->
            <section class="contacts">
                <ul class="contacts-list">
                    <li 
                        class="contact d-flex align-items-center" 
                        v-for="(contact, index) in contacts"
                        @click="activeIndex = index" 
                        :class="{active: index === activeIndex}"
                        v-show="contact.visible"
                    >
                        <img :src="`./img/avatar${contact.avatar}.jpg`" :alt="contact.name" class="contact">
                        <span>{{contact.name}}</span>
                    </li>
                </ul>
            </section>
        </aside>

        <!-- MAIN -->
        <main class="flex-grow-1 d-flex flex-column">
            <!-- header user -->
            <section class="header contact d-flex align-items-center">
                <div class="contact-informations d-flex align-items-center">
                    <img :src="`./img/avatar${contacts[activeIndex].avatar}.jpg`" :alt="`${contacts[activeIndex].name}`" class="contact">
                    <div class="text d-flex flex-column">
                        <span class="name">{{ contacts[activeIndex].name }}</span>
                        <span class="last-access">Ultimo accesso: oggi alle 10.35</span>
                    </div>
                </div>
                <div class="actions flex-grow-1 d-flex align-items-center justify-content-end">
                    <i class="fas fa-search search"></i>
                    <i class="fas fa-paperclip paperclip"></i>
                    <i class="fas fa-ellipsis-v expand-actions"></i>
                </div>
            </section>

            <!-- message container -->
            <section class="message-container overflow-auto flex-grow-1 d-flex flex-column">
                <div 
                    v-for="message in contacts[activeIndex].messages" class="message"
                    :class="`${message.status}`">
                    {{ message.text }}
                    <span class="date">{{ message.date }}</span>
                </div>
            </section>

            <!-- footer console -->
            <section class="footer console d-flex align-items-center">
                <button class="btn">
                    <i class="far fa-smile"></i>
                </button>
                <input 
                    type="text" 
                    placeholder="Scrivi un messaggio" 
                    class="flex-grow-1"
                    v-model.trim="newMessageText"
                    @keyup.enter="addNewMessage()">
                <button class="btn">
                    <i class="fas fa-microphone"></i>
                </button>
            </section>
        </main>
    </section>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/locale/it.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>